.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;

  max-width: 90%;

  ::-webkit-scrollbar {
    @apply h-2.5 w-2.5;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-slate-800;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}

.card {
  flex: 1;
  max-width: 382px;
}

.pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 382px;
  max-height: 382px;
  border: 2px solid #fff;
}
