.fade-in {
    opacity: 0;  /* Start from invisible */
    animation: fadeInAnimation 6s forwards;  /* Animation lasts 2 seconds */
  }
  
  @keyframes fadeInAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
  }