<nav class="m-2 flex w-full justify-around border-b-2">
  <!-- Logo and Title -->
  <button class="mb-2 rounded-lg p-2 hover:bg-gray-300">
    <a (click)="goToHome()" class="row-auto flex">
      <img
        src="/assets/images/LOGO.png"
        alt="logo"
        width="50"
        height="50"
        class="object-contain"
      />
      <p
        class="flex flex-row items-center text-xl tracking-wide text-stone-500 max-lg:hidden"
      >
        Snippet-Code-Pedia
      </p>
    </a>
  </button>

  <!-- Login Button -->
  <button *ngIf="!authService.isLoggedIn()" class="p-1">
    <a
      routerLink="login"
      routerLinkActive="bg-gray-700 text-white"
      class="li-button hover:bg-gray-300"
    >
      Login
    </a>
  </button>

  <!-- User Logged In -->
  <div class="mb-2 flex items-center justify-center" *ngIf="authService.isLoggedIn()">
    <!-- Hidden on small screens, visible on larger screens -->
    <ul class="hidden items-center gap-4 sm:flex">
      <li
        *ngIf="userSnippets.length <= 4"
        class="li-button hover:text-black"
        (click)="goToSnippet()"
      >
        Create Snippet
      </li>
      <li class="li-button hover:text-red-600" (click)="logout()" #profileButton>
        Logout
      </li>
      <!-- Profile Button for larger screens -->
      <button (click)="goToProfile()" class="li-button hover:text-black">
        <!-- User Profile Info -->
        <div
          class="flex min-w-52 items-center gap-2"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
        >
          <img
            *ngIf="userProfile?.imageUrl"
            [src]="userProfile?.imageUrl"
            alt="Profile"
            width="40"
            height="40"
            class="rounded-full border border-gray-700"
          />
          <div class="flex w-full flex-col text-left">
            <span class="text-stone-500"> {{ userProfile?.username }} </span>
            <span *ngIf="!isHovering" class="text-xs text-gray-400">{{
              userProfile?.email
            }}</span>
            <span *ngIf="isHovering" class="text-xs text-gray-400"
              >Click to go to your profile</span
            >
          </div>
        </div>
      </button>
    </ul>

    <!-- User Profile Button for small screens -->
    <button (click)="toggleNavList()" class="li-button hover:text-black sm:hidden">
      <div class="flex items-center gap-2">
        <img
          *ngIf="userProfile?.imageUrl"
          [src]="userProfile?.imageUrl"
          alt="Profile"
          width="40"
          height="40"
          class="hidden rounded-full border border-gray-700 xs:flex"
        />
        <div class="flex flex-col text-left">
          <span class="text-stone-500"> {{ userProfile?.username }} </span>
          <span class="text-xs text-gray-400">
            {{ userProfile?.email }}
          </span>
        </div>
      </div>
    </button>
  </div>
</nav>
