<nav class="m-2 flex w-full justify-around border-b-2">
  <button class="mb-2 rounded-lg p-2 hover:bg-gray-300">
    <a routerLink="/" class="row-auto flex">
      <img src="/assets/images/LOGO.png" alt="logo" width="50" height="50" class="object-contain" />
      <p class="font-satoshi flex flex-row items-center text-lg font-bold tracking-wide text-stone-600 max-sm:hidden">
        Snippet-Code-Pedia
      </p>
    </a>
  </button>
  <button *ngIf="!authService.isLoggedIn()" class="p-1">
    <span>
      <a
        routerLink="login"
        routerLinkActive="bg-gray-700 text-white"
        class="text-md font-inter flex items-center justify-center rounded-md px-5 py-1.5 text-center font-bold transition-all hover:bg-gray-300"
        >Login</a
      >
    </span>
  </button>
  <div class="mb-2 flex items-center justify-center" *ngIf="authService.isLoggedIn()">
    <button
      class="text-md font-inter flex rounded-md p-2 text-center hover:bg-gray-300 hover:text-black"
      (click)="logout()"
    >
      <div class="flex items-center gap-2">
        <img
          *ngIf="userProfile?.imageUrl"
          [src]="userProfile?.imageUrl"
          alt="Profile"
          width="40"
          height="40"
          referrerpolicy="no-referrer"
          class="rounded-full border border-gray-700"
        />
        <div class="flex flex-col text-left">
          <span class="font-bold text-stone-500"> {{ userProfile?.username }} </span>
          <span class="text-xs font-semibold text-gray-400">
            {{ userProfile?.email }}
          </span>
        </div>
      </div>
    </button>
  </div>
</nav>
