<div class="flex w-full justify-center py-4">
  <button
    *ngIf="snippets.length < maxSnippets && isOwnProfile"
    [routerLink]="[{ outlets: { modal: ['create'] } }]"
    class="li-button bg-gradient-to-bl from-slate-500 to-stone-900 p-4 text-sky-300 transition-all hover:text-white"
  >
    Create a new Snippet +
  </button>
</div>

<div
  class="flex flex-wrap justify-center gap-2 md:flex-row lg:flex-nowrap lg:gap-4"
  [@fade]
>
  <div
    *ngFor="let overview of dashboardOverviews"
    class="dashboard-overview"
    [class.active]="activatedDashboardOverview === overview.index"
    (click)="changeActiveDashboard(overview.index)"
  >
    <p>{{ overview.label }}</p>
    <mat-icon class="my-2">{{ overview.icon }}</mat-icon>
    <ng-container *ngIf="isOwnProfile && overview.index === 1; else otherProfile">
      <p *ngIf="snippets.length < maxSnippets">
        {{ snippets.length || 0 }}/{{ maxSnippets }}
      </p>
      <div class="flex flex-col justify-center" *ngIf="snippets.length >= maxSnippets">
        <p class="text-center text-red-700">
          {{ snippets.length || 0 }}/{{ maxSnippets }}
        </p>
        <p class="text-balance text-center text-xs" *ngIf="maxSnippets !== Infinity">
          You need to subscribe in order to make more snippets
        </p>
      </div>
    </ng-container>
    <ng-template #otherProfile>{{ overview.value }}</ng-template>
  </div>
</div>

<app-total-snippets
  [isOwnProfile]="isOwnProfile"
  [userProfile]="userProfile"
  [snippets]="snippets"
  (snippetsUpdated)="handleSnippets($event)"
  [class.hidden]="activatedDashboardOverview !== 1"
></app-total-snippets>

<app-total-visitors
  [userProfile]="userProfile"
  [class.hidden]="activatedDashboardOverview !== 2"
></app-total-visitors>

<app-total-followers
  [class.hidden]="activatedDashboardOverview !== 3"
></app-total-followers>

<app-total-positives
  [class.hidden]="activatedDashboardOverview !== 4"
></app-total-positives>

<app-total-comments
  [class.hidden]="activatedDashboardOverview !== 5"
></app-total-comments>
