<form
  [formGroup]="snippetForm"
  (ngSubmit)="onSubmit()"
  class="mx-auto max-w-screen-lg bg-gradient-to-tr from-slate-900 via-slate-400 to-slate-900 p-8 lg:my-4 lg:rounded-md"
>
  <div class="my-4">
    <label
      class="mb-2 block bg-gradient-to-r from-slate-900 via-transparent to-transparent p-1 text-sm font-bold text-white"
      for="title"
      >Title of snippet</label
    >
    <input
      class="focus:shadow-outline w-full appearance-none rounded border bg-opacity-100 px-2 py-1 leading-tight text-black shadow focus:outline-none"
      id="title"
      type="text"
      formControlName="title"
      placeholder="Form with glassmorphism"
    />
  </div>
  <div class="my-4 h-auto w-full">
    <button
      type="button"
      (click)="inputField.click()"
      class="flex max-w-44 items-center justify-center text-balance border border-white bg-gradient-to-tr from-slate-900 via-slate-400 to-slate-900 p-2 text-sky-400 hover:text-white"
    >
      Add image for your snippet
    </button>
    <div class="my-4 flex flex-col items-center justify-center gap-4 md:flex-row">
      <!-- Hidden File Input -->
      <input type="file" hidden #inputField (change)="fileChangedEvent($event)" />

      <!-- Image Cropper -->
      <div class="flex w-1/2 flex-col" *ngIf="isCropping">
        <image-cropper
          #cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="false"
          [cropperMaxHeight]="600"
          [aspectRatio]="1.5"
          [roundCropper]="false"
          format="png"
          (imageCropped)="imageCropped($event)"
        ></image-cropper>
        <div class="flex flex-row justify-end gap-4 text-lg">
          <button class="text-white hover:scale-110" (click)="discardChanges()">
            Cancel
          </button>
          <button class="text-white hover:scale-110" (click)="applyCroppedImage()">
            Apply
          </button>
        </div>
      </div>
      <div class="flex w-1/2 flex-col justify-center">
        <div *ngIf="croppedImagePreview">
          <img class="rounded-sm border border-white" [src]="croppedImagePreview" />
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <label
      class="mb-2 block bg-gradient-to-r from-slate-900 via-transparent to-transparent p-1 text-sm font-bold text-white"
      for="description"
      >Description of snippet</label
    >
    <input
      class="focus:shadow-outline w-full appearance-none rounded border bg-opacity-100 px-2 py-1 leading-tight text-black shadow focus:outline-none"
      id="description"
      type="text"
      formControlName="description"
      placeholder="Crafting a minimalist form with a glassmorphism aesthetic."
    />
  </div>

  <div class="mb-4">
    <label
      class="mb-2 block bg-gradient-to-r from-slate-900 via-transparent to-transparent p-1 text-sm font-bold text-white"
      for="snippetTemplate"
    >
      Add your HTML / Tailwind here
    </label>
    <textarea
      class="focus:shadow-outline h-32 w-full appearance-none rounded border bg-opacity-100 p-2 leading-tight text-black shadow focus:outline-none"
      id="snippetTemplate"
      formControlName="snippetTemplate"
      placeholder='<form 
class="form-cotainer mx-auto max-w-screen-lg bg-gradient-to-bl from-slate-500 to-stone-900 
p-8 lg:my-4 lg:rounded-md">
Hello ${You}
</form>'
    ></textarea>
  </div>

  <button
    type="button"
    class="focus:shadow-outline li-button my-8 bg-gradient-to-bl from-slate-500 to-stone-900 p-4 text-sky-300 transition-all hover:text-white focus:outline-none"
    (click)="toggleCssTextarea()"
  >
    CSS
  </button>

  <div *ngIf="showCssTextarea" class="mb-4">
    <label
      class="mb-2 block bg-gradient-to-r from-slate-900 via-transparent to-transparent p-1 text-sm font-bold text-white"
      for="snippetStyle"
    >
      Add your CSS styling here
    </label>
    <textarea
      class="focus:shadow-outline h-32 w-full appearance-none rounded border bg-opacity-100 p-2 leading-tight text-black shadow focus:outline-none"
      id="snippetStyle"
      formControlName="snippetStyle"
      placeholder=".form-container{
height: min-content;
width: 350px;
    
    &:hover{
        border: 1px solid #fff;
    }
}
      "
    ></textarea>
  </div>

  <div class="mb-4">
    <label
      class="mb-2 block bg-gradient-to-r from-slate-900 via-transparent to-transparent p-1 text-sm font-bold text-white"
      for="tags"
      >Add your tags here</label
    >
    <input
      class="focus:shadow-outline w-full appearance-none rounded border bg-opacity-100 px-2 py-1 leading-tight text-black shadow focus:outline-none"
      id="tags"
      type="text"
      placeholder="#header, #footer, #idea, etc."
      formControlName="tags"
    />
  </div>

  <button
    type="submit"
    class="focus:shadow-outline li-button bg-gradient-to-bl from-slate-500 to-stone-900 p-4 text-sky-300 transition-all hover:text-white focus:outline-none"
  >
    Submit
  </button>
</form>
