.mat-stepper {
  height: 250px;
}

.image-cropper-container {
  max-width: 150px;
  max-height: 200px;
}

.animated-slide-in.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-400%);
}

.animated-slide-in.visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-400%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

::ng-deep .mat-stepper-vertical,
.mat-stepper-horizontal {
  --mat-stepper-container-color: transparent !important;
}

::ng-deep .mat-step-text-label {
  font-size: 11px;
  padding: 0px;
  color: white;
}

::ng-deep .mat-horizontal-content-container {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep .mat-step-header {
  height: 35px !important;
}
