.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.dropdown-container{
  margin-top: -3px;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 99%;
}

.text-detail{
  font-size: 8px;
}


