<div
  class="relative mx-auto flex w-full overflow-hidden rounded-md border-2 border-gray-700"
>
  <input
    type="text"
    placeholder="Search other profiles or snippets"
    [(ngModel)]="searchTerm"
    (input)="onSearchInput()"
    class="flex w-full items-center justify-center bg-transparent p-2 outline-none"
  />
  <mat-icon class="text-gray-500">search</mat-icon>
</div>

<!-- DROPDOWN CONTAINER -->
<div
  class="dropdown-container mx-auto w-full rounded-b-md border-x-2 border-b-2 border-gray-700"
  *ngIf="
    searchTerm.length > 2 &&
    (searchResults.users.length > 0 ||
      searchResults.snippets.length > 0 ||
      (searchResults.users.length === 0 && searchResults.snippets.length === 0))
  "
>
  <p class="px-4 pt-2 font-bold text-black" *ngIf="searchResults.users.length > 0">
    Profiles:
  </p>
  <ul *ngIf="searchResults.users.length > 0">
    <li
      *ngFor="let user of searchResults.users"
      class="flex flex-row items-center justify-between px-4 pb-2 text-slate-500 hover:cursor-pointer hover:text-black hover:underline"
      (click)="routeToUserProfile(user._id)"
    >
      <div class="text-overflow text-xs">{{ user?.username }}</div>
      <div class="flex">-></div>
    </li>
  </ul>
  <p class="px-4 pt-2 font-bold text-black" *ngIf="searchResults.snippets.length > 0">
    Snippets:
  </p>
  <ul *ngIf="searchResults.snippets.length > 0">
    <li
      *ngFor="let snippet of searchResults.snippets"
      class="flex flex-row items-center justify-between px-4 pb-2 text-slate-500 hover:cursor-pointer hover:text-black hover:underline"
      (click)="routeToSnippetOverview(snippet._id)"
    >
      <div class="flex w-3/4 flex-col">
        <div class="text-overflow text-xs">
          {{ snippet.title }} - {{ snippet.description }}
        </div>
        <div class="text-detail text-overflow">
          {{ snippet.username }}
        </div>
      </div>
      <div class="flex">-></div>
    </li>
  </ul>
  <div *ngIf="searchResults.users.length === 0 && searchResults.snippets.length === 0">
    <p class="px-4 py-2 font-bold text-black">No Results Found</p>
  </div>
</div>
