<div class="relative mx-auto flex w-full overflow-hidden rounded-md">
  <input
    type="text"
    placeholder="Search profiles or snippets"
    [(ngModel)]="searchTerm"
    (input)="onSearchInput()"
    (focus)="onInputFocus()"
    class="w-full bg-gradient-to-r from-slate-900 to-slate-700 px-2 py-3 text-sm text-white placeholder-slate-100 outline-none"
  />
  <button
    (click)="goToFilterModal()"
    type="button"
    [ngClass]="{ 'focus-style': buttonFocused }"
    class="flex items-center justify-center bg-gradient-to-r from-slate-600 to-slate-900 px-2 text-slate-300 hover:text-white"
  >
    OR
    <mat-icon>filter_alt</mat-icon>
  </button>
</div>
<div
  class="dropdown-container mx-auto w-full rounded-b-md bg-gradient-to-r from-slate-900 to-slate-400 shadow-lg"
  *ngIf="
    searchTerm.length > 2 &&
    (searchResults.users.length > 0 ||
      searchResults.snippets.length > 0 ||
      (searchResults.users.length === 0 && searchResults.snippets.length === 0))
  "
>
  <p class="px-4 pt-2 font-bold text-white" *ngIf="searchResults.users.length > 0">
    Profiles:
  </p>
  <ul *ngIf="searchResults.users.length > 0">
    <li
      *ngFor="let user of searchResults.users"
      class="flex flex-row items-center justify-between px-4 pb-2 text-slate-400 hover:cursor-pointer hover:text-white"
      (click)="routeToUserProfile(user._id)"
    >
      <div class="text-overflow text-xs">{{ user?.username }}</div>
      <div class="flex">-></div>
    </li>
  </ul>
  <p class="px-4 pt-2 font-bold text-white" *ngIf="searchResults.snippets.length > 0">
    Snippets:
  </p>
  <ul *ngIf="searchResults.snippets.length > 0">
    <li
      *ngFor="let snippet of searchResults.snippets"
      class="flex flex-row items-center justify-between px-4 pb-2 text-slate-400 hover:cursor-pointer hover:text-white"
      (click)="routeToSnippetOverview(snippet._id)"
    >
      <div class="flex w-3/4 flex-col">
        <div class="text-overflow text-xs">
          {{ snippet.title }} - {{ snippet.description }}
        </div>
        <div class="text-detail text-overflow">
          {{ snippet.username }}
        </div>
      </div>
      <div class="flex">-></div>
    </li>
  </ul>
  <div *ngIf="searchResults.users.length === 0 && searchResults.snippets.length === 0">
    <p class="px-4 py-2 font-bold text-white">No Results Found</p>
  </div>
</div>
