<div class="flex flex-wrap justify-center gap-2 md:flex-row lg:flex-nowrap lg:gap-4">

<div class="dashboard-overview">
    <p>Total Snippets</p>
    <mat-icon class="my-2">text_snippet</mat-icon>
    <p>26</p>
  </div>

  <div class="dashboard-overview">
    <p>Total Likes</p>
    <mat-icon class="my-2">thumb_up</mat-icon>
    <p>242</p>
  </div>

  <div class="dashboard-overview">
    <p>Total Dislikes</p>
    <mat-icon class="my-2">thumb_down</mat-icon>
    <p>116</p>
  </div>

  <div class="dashboard-overview">
    <p>Total Comments</p>
    <mat-icon class="my-2">notes</mat-icon>
    <p>460</p>
  </div>

  <div class="dashboard-overview">
    <p>Total Visitors</p>
    <mat-icon class="my-2">person</mat-icon>
    <p>369200</p>
  </div></div>