<div class="flex w-full items-center flex-col">
  <h1 class="mt-5 text-5xl sm:text-6xl font-extrabold leading-[1.15] text-center text-gray-600">
    Discover & Explore
    <br class="hidden max-md:block" />
    <span class="text-transparent bg-clip-text text-center bg-gradient-to-r from-gray-500 via-gray-700 to-gray-500">
      <span class="bg-clip-text text-transparent text-orange-400">HTML</span>
      &amp;
      <span class="bg-clip-text text-transparent bg-gradient-to-r text-blue-400">CSS</span>
      Powered Prompts
    </span>
  </h1>
  <p class="mt-5 max-w-2xl text-lg sm:text-xl text-center text-gray-600">
    Snippet-Pedia is an open-source combination of HTML &amp; CSS to create new and aesthetic frontend
  </p>
</div>
