<div class="m-2 flex flex-col items-center justify-between">
  <div>
    <h1 class="flex w-full justify-center md:justify-start">
      <p class="p-4 font-extrabold text-sky-300">
        {{ userProfile.username }}'s Dashboard
      </p>
    </h1>
    <div class="hidden w-full pb-4 sm:flex sm:justify-center lg:justify-end">
      <button
        (click)="goToCreateSnippet()"
        class="li-button bg-gradient-to-bl from-slate-500 to-stone-900 p-4 text-sky-300 transition-all hover:text-white"
      >
        Create a new Snippet +
      </button>
    </div>

    <app-snippets-overview></app-snippets-overview>
  </div>
</div>
