<div class="card m-1 my-2 rounded-md bg-slate-900 px-2 text-white md:m-4 2xl:m-4 min-w-48">
  <div class="text-xl">
    <p>{{ snippet.title | CapitalizeFirstLetterPipe }}</p>
  </div>

  <div class="mb-2 text-xs">
    <p>{{ snippet.description | CapitalizeFirstLetterPipe }}</p>
  </div>

  <div
    class="pre flex w-full overflow-x-auto rounded-md bg-gradient-to-b from-slate-900 via-slate-900 to-white p-2 pr-12 text-xs"
  >
    <p [innerHTML]="formatSnippet(snippet.snippetTemplate)"></p>
  </div>

    <div *ngIf="userProfile" class="flex flex-row justify-between py-2">
      <p class="max-w-64 overflow-hidden overflow-ellipsis whitespace-nowrap pt-0.5">
        {{ snippet.tags }}
      </p>
      <button class="text-sm transition-all hover:scale-110">Show code -></button>
    </div>

  <div class="flex flex-row justify-between border-t-2" *ngIf="userProfile">
    <div class="flex flex-col py-1 text-slate-400">
      <p class="text-xs">{{ snippet.username }}</p>
      <p class="text-xs">{{ snippet.email }}</p>
    </div>
    <div class="flex flex-col justify-center">
      <p class="flex justify-center text-xs">
        <mat-icon class="text-xs">thumb_up</mat-icon>
      </p>
      <p class="flex justify-center text-xs">
        <mat-icon class="text-xs">thumb_down</mat-icon>
      </p>
    </div>
  </div>
  <div *ngIf="!userProfile" class="py-2 text-xs underline hover:scale-110 text-center">
    <button href="login">Login to view code</button>
  </div>
</div>
