<div
  (click)="routeToSnippetOverview(snippet._id)"
  class="card m-1 my-2 min-w-48 cursor-pointer rounded-md bg-slate-700 px-2 text-white shadow-sm transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl md:m-4 2xl:m-4 max-w-md"
>
  <div class="text-xl">
    <p>{{ snippet.title | CapitalizeFirstLetterPipe }}</p>
  </div>

  <div class="mb-2 text-xs">
    <p>{{ snippet.description | CapitalizeFirstLetterPipe }}</p>
  </div>

  <div *ngIf="snippet.picture" class="image-container relative">
    <img [src]="snippet.picture" alt="Snippet Image" class="snippet-image" />
  </div>

  <div *ngIf="userProfile" class="flex flex-row justify-between py-2">
    <p
      class=" pt-0.5 text-xs"
    >
      {{ snippet.tags }}
    </p>
  </div>

  <div class="flex flex-row justify-between border-t-2" *ngIf="userProfile">
    <div class="flex flex-col py-1 text-slate-400">
      <p class="text-xs">{{ snippet.username }}</p>
    </div>
  </div>

  <div *ngIf="!userProfile" class="py-2 text-center text-xs underline hover:scale-110">
    <a routerLink="login">Login to view code</a>
  </div>

  <div class="flex justify-end">
    <button
      *ngIf="showDeleteSnippet"
      (click)="onDeleteSnippet()"
      class="flex flex-row py-2 transition-all hover:scale-110 hover:text-red-600"
    >
      <p>Delete Snippet</p>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
