<div
  class="card m-1 my-2 min-w-48 rounded-md bg-slate-900 px-2 text-white md:m-4 2xl:m-4"
>
  <div class="text-xl">
    <p>{{ snippet.title | CapitalizeFirstLetterPipe }}</p>
  </div>

  <div class="mb-2 text-xs">
    <p>{{ snippet.description | CapitalizeFirstLetterPipe }}</p>
  </div>

  <div *ngIf="snippet.picture" class="image-container relative">
    <img [src]="snippet.picture" alt="Snippet Image" class="snippet-image" />
    <button class="report-button scale-110 hover:text-black text-red-600" *ngIf="userProfile">
      <mat-icon>priority_high</mat-icon>
    </button>
  </div>

  <div *ngIf="userProfile" class="flex flex-row justify-between py-2">
    <p
      class="max-w-44 overflow-hidden overflow-ellipsis whitespace-nowrap pt-0.5 text-xs"
    >
      {{ snippet.tags }}
    </p>
    <button
      class="text-sm transition-all hover:scale-110"
      (click)="routeToSnippetOverview(snippet._id)"
    >
      Show code ->
    </button>
  </div>

  <div class="flex flex-row justify-between border-t-2" *ngIf="userProfile">
    <div class="flex flex-col py-1 text-slate-400">
      <p class="text-xs">{{ snippet.username }}</p>
      <p class="text-xs">{{ snippet.email }}</p>
    </div>
    <div class="flex flex-col justify-center">
      <p class="flex justify-center text-xs">
        <mat-icon class="text-xs">thumb_up</mat-icon>
      </p>
      <p class="flex justify-center text-xs">
        <mat-icon class="text-xs">thumb_down</mat-icon>
      </p>
    </div>
  </div>
  <div *ngIf="!userProfile" class="py-2 text-center text-xs underline hover:scale-110">
    <button href="login">Login to view code</button>
  </div>
  <div class="flex justify-end">
    <button
      *ngIf="showDeleteSnippet"
      (click)="onDeleteSnippet()"
      class="flex flex-row py-2 transition-all hover:scale-110 hover:text-red-600"
    >
      <p>Delete Snippet</p>
      <mat-icon class="">delete</mat-icon>
    </button>
  </div>
</div>
