<div class="flex w-full flex-col items-center">
  <h1 class="mt-5 text-center text-5xl font-extrabold leading-[1.15] text-gray-600 sm:text-6xl">
    Discover & Explore
    <br class="hidden max-md:block" />
    <span class="bg-gradient-to-r from-gray-500 via-gray-700 to-gray-500 bg-clip-text text-center text-transparent">
      <span class="bg-clip-text text-orange-400 text-transparent">HTML</span>
      &amp;
      <span class="bg-gradient-to-r bg-clip-text text-blue-400 text-transparent">CSS</span>
      Powered Prompts
    </span>
  </h1>
  <p class="mt-5 max-w-2xl text-center text-lg text-gray-600 sm:text-xl">
    Snippet-Pedia is an open-source combination of HTML &amp; CSS to create new and aesthetic frontend
  </p>
  <div *ngIf="auth.isLoggedIn()">
    <app-card></app-card>
  </div>
</div>
