<div class="flex w-full flex-col items-center">
  <h1
    class="gradient-orange mt-5 text-center text-5xl font-extrabold leading-[1.15] sm:text-6xl"
  >
    Discover & Explore Powerful snippets
  </h1>
  <p class="mt-5 max-w-2xl text-center text-lg text-stone-600 sm:text-xl">
    Snippet-Pedia is an open-source combination of HTML CSS and Tailwind to create new and
    aesthetic frontend
  </p>
  <app-search-bar></app-search-bar>
  <app-snippet-card [snippets]="randomSnippet"></app-snippet-card>
</div>
